@import "../vars.module.css";

.header {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #282c34;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0.6rem;
}

.masthead {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.1rem;
  align-self: center;
  flex: 1;
}

.login {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--secondary-text-color-alt);
  padding: 0.6rem 1.2rem;
  border-radius: 2rem;
  height: clamp(6vh, 10%, 10vh);
}
.welcome {
  margin-right: 1rem;
  font-size: 1.1rem;
  color: var(--secondary-text-color-alt);
  text-shadow: 0.1rem 0.1rem var(--primary-color);
}
