.container {
  text-align: center;
  z-index: 1000;
  transform: translateZ(-2px) scale(1.5);
  position: absolute;
  top: 20vw;
}

.link {
  align-items: center;
  padding: 5px;
  text-decoration: none;
}

.text {
  color: white;
}
