@import "../vars.module.css";

.button {
  font-family: var(--font-family-alt);
  font-weight: 500;
  border: 2px solid var(--secondary-text-color-alt);
  border-radius: 1rem;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  transition: transform 0.5s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  user-select: none;

  &:hover {
    transform: scale(1.04);
  }
}

.button + .button {
  margin-left: 1rem;
}

.primary .dialog {
  color: var(--primary-btn-color);
  background-color: var(--primary-btn-text-color);
}

.secondary {
  color: var(--secondary-btn-text-color);
  background-color: var(--secondary-btn-color);
}

.small {
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: var(--font-weight-normal);
}

.medium {
  padding: 1rem 2rem;
  font-size: 1.4rem;
}

.large {
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
}
