.container {
  position: relative;
  padding: 1rem;
  max-width: 100vmax;
}

.scroller {
  padding: 1rem 3rem;
  outline: 5px solid hotpink;
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: clamp(240px, 30%, 300px);
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 1rem;
  margin-bottom: 2rem;
}
.scroller::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent; /* make scrollbar transparent */
}

.scroll {
  --_scroll-button-size: 2rem;
  border-radius: 50%;
  font-weight: var(--font-weight-medium);
  position: absolute;
  outline: 2px solid rgba(187, 41, 187, 0.5);
  background: orange;
  text-align: center;
  height: var(--_scroll-button-size);
  width: var(--_scroll-button-size);
  z-index: 1;
  top: calc(30% + var(--_scroll-button-size));
  transition: outline 0.6s linear;
}
.scroll:hover:after {
  --_offset: 1rem;
  position: absolute;
  top: calc(0px - var(--_offset) - 0.1rem);
  left: calc(0px - var(--_offset) - 0.1rem);
  content: " ";
  display: block;
  width: calc(var(--_scroll-button-size) + var(--_offset));
  height: calc(var(--_scroll-button-size) + var(--_offset));
  border-radius: 50%;
  border: 0.5rem solid white;
  opacity: 0.5;
  border-color: white transparent white transparent;
  animation: scroll-ring 1.2s linear infinite;
}
@keyframes scroll-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.scroll.left {
  left: 1.5rem;
}
.scroll.right {
  right: 1.5rem;
}

.scroller > .item {
  scroll-snap-align: start;
}

.item {
  font-size: larger;
  border: 5px solid limegreen;
  padding: 1rem;
}
.item.selected {
  border-color: red;
}

.list {
  padding-inline-start: 1.2rem;
  list-style-type: square;
  font-size: var(--font-size-small);
}

.lineClampHeading {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.lineClampContent {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.lineClampList {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.button {
  border: 5px solid purple;
  border-radius: 5px;
  width: clamp(100px, 100%, 600px);
  margin: 0 auto;
  padding: 1rem;
  background: var(--secondary-color-alt);
  font-weight: 700;
  font-family: var(--font-family-headings);
  letter-spacing: 0.05rem;
  color: var(--primary-color);
  text-decoration: none;
  transition: transform 0.1s;
  display: block;

  &:hover {
    text-decoration: none;
    transform: scale(1.1);
    color: var(--primary-text-color);
  }
}
