@import "../global.css";

.wrapper {
  display: flex;
  gap: 1.5rem;
  margin: 1rem;
  padding: 2rem;
  overflow-x: scroll;
  max-width: 60vw;
  scroll-snap-type: x mandatory;
  justify-content: space-between;
  align-items: center;
}

.card {
  padding: 1rem;
  border-width: var(--border-width);
  border-style: solid;
  border-color: white;
  border-radius: 0.5rem;
  flex: 0 0 250px;
  scroll-snap-align: start;
  scroll-margin: 0;

  .checkbox {
    display: none;
  }

  .title {
    text-align: center;
  }

  .content {
    background: rgba(0, 0, 0, 0.3);
    padding: 0.1rem;
    text-align: justify;
    width: 100%;
  }
}

.card:hover,
.card:focus,
.card:has(input[type="radio"]:checked) {
  border-color: darkgoldenrod;
  transform: scale(1.1);
}
.card:has(input[type="radio"]:checked) {
  border-color: purple;
  background: green;
}
