@import "../global.css";

.wrapper {
  display: flex;
  vertical-align: center;
  gap: 1.5rem;
  margin: 1rem;
  padding: 2rem;
  overflow: auto hidden;
}

.card {
  padding: 1rem;
  border-width: var(--border-width);
  border-style: solid;
  border-color: white;
  border-radius: 0.5rem;

  .checkbox {
    display: none;
  }

  .title {
    text-align: center;
  }

  .content {
    min-width: 2.2rem;
  }
}

.card:hover,
.card:has(input[type="radio"]:checked) {
  border-color: darkgoldenrod;
  transform: scale(1.1);
}
.card:has(input[type="radio"]:checked) {
  border-color: purple;
  background: green;
}
