@import "vars.module.css";

* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary-color);
  color: var(--primary-color);
  font-size: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: clamp(0.8rem, 6vmin, 1.5rem);
}

h1 {
  font-size: clamp(1.4rem, 6vmin, 4rem);
  line-height: clamp(1rem, 3vmin, 4rem);
  color: var(--primary-color-alt);
  font-weight: 900;
}
h2 {
  font-size: clamp(1rem, 6vmin, 2.5rem);
  line-height: clamp(1rem, 4vmin, 2.5rem);
  color: var(--secondary-color-alt);
  font-weight: 700;
}
h3 {
  font-size: clamp(1rem, 4vmin, 2rem);
  line-height: clamp(1rem, 4vmin, 2rem);
  color: var(--secondary-color);
  font-weight: 400;
}
h4 {
  font-size: clamp(0.9rem, 4vmin, 1.5rem);
  line-height: clamp(1rem, 4vmin, 2rem);
  color: var(--secondary-color);
  font-weight: 400;
}
p {
  font-size: clamp(0.8rem, 3vmin, 1.5rem);
  line-height: clamp(0.8rem, 4vmin, 2rem);
  color: var(--primary-text-color);
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*:target {
  border: 2px solid orange;
  border-radius: 1rem;
  opacity: 0.5;
  background-color: gold;
  padding: 1rem;
  color: purple;
}
